* {
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    background-color:rgb(250, 252, 253);
    border-radius: 15px;
    text-align: center;
}

.sidebar{
    justify-content: center;
}

.sidebar h3 {
    display:flex;
    flex-basis: 100%;
    justify-content: flex-start;
    padding: 15px 10px 0px 15px;
    flex:1;
}

.sidebar ul {
    padding-left:0px;
}

.sidebar li {
    flex-basis:17.5%;
    flex:1;
    text-align: start;
    padding: 10px 15px 25px 30px;
    list-style-type: none;
    list-style-position: inside;
}

.sidebar li:hover {
    background-color: rgb(208, 219, 223);
    list-style-type: none;
    list-style-position: inside;
}

.sidebar li:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}



#status {
    width: 100%;
    padding: 0px;
}

#status_container {
    display:flex;
}

#status_box {
    outline: none;
    border:none;
    height: 25%;
    width:98%;
    box-sizing: border-box;
    resize: none;
    word-wrap: break-word;
}



#tweet {
    display:flex;
    background-color: rgb(47, 151, 255);
    color: white;
    width: 55%;
    justify-content: center;
    align-items: center;
    padding: 15px 20px 15px 20px;
}

body {
    display:flex;
    justify-content: center;
}

nav {
    flex-basis:15%;
}

nav img {
    max-height: 30px;
    max-width: 30px;
    align-self: center;
    margin-bottom: 15px;
    margin-right: 10px;
}

.navbar{
    max-height: 50px;
    max-width: 50px;
    align-self: flex-start;
    justify-self: flex-start;
}

nav a {
    display:flex;
    border-radius: 50px;
    padding: 15px 30px 0px 15px;
    width: fit-content;
    text-align: center;
    text-justify: center;
    margin-bottom: 15px;
}

nav a:hover{
    background-color: rgb(217, 220, 223);
}

section {
    flex-basis: 30%;
    border-left:1px rgb(235, 235, 235) solid;
    border-right:1px rgb(235, 235, 235) solid;
    justify-self:flex-start;
}

section h3 {
    margin: 5px 5px 0px 10px;
    align-self: flex-start;
    justify-self: flex-start;

} section img {
    max-height:50px;
    max-width:50px;
    border-radius: 100px;
    margin: 15px 15px 0px 15px;
}

section div {
    border-bottom:1px rgb(235, 235, 235) solid;
    min-height: 100px;
    min-width: 99%;
}

section div p{
    padding-left:10px;
}

aside {
    flex-basis: 20%;
    margin-left:50px;
}

#icons{
    padding: 0;
    margin:0;
    min-width: 0;
    min-height: 0;
    height: fit-content;
    width:75%;
    border-bottom: 0;
    padding-left: 40px;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

[placeholder] {
    align-items:center;
}