* {
    font-family: 'Roboto', sans-serif;
}

.sidebar {
    background-color:rgb(250, 252, 253);
    border-radius: 15px;
    text-align: center;
}

.sidebar{
    justify-content: center;
}

.sidebar h3 {
    display:flex;
    flex-basis: 100%;
    justify-content: flex-start;
    padding: 15px 10px 0px 15px;
    flex:1;
}

.sidebar ul {
    padding-left:0px;
}

.sidebar li {
    flex-basis:17.5%;
    flex:1;
    text-align: start;
    padding: 10px 15px 25px 30px;
    list-style-type: none;
    list-style-position: inside;
}

.sidebar li:hover {
    background-color: rgb(208, 219, 223);
    list-style-type: none;
    list-style-position: inside;
}

.sidebar li:last-child {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#status {
    width: 100%;
    /* padding: 5px 15px 50px 30px */
    
}

#status_box {
    outline: none;
    height: 25%;
    width:98%;
    box-sizing: border-box;
    resize: none;
    word-wrap: break-word;
}

body {
    display:flex;
    justify-content: center;
}

nav {
    flex-basis:15%;
}

nav p {
    display:flex;
    border-radius: 50px;
    padding: 15px 30px 15px 30px;
    width: fit-content;
    text-align: center;
}

nav p:hover{
    background-color: rgb(217, 220, 223);
}

section {
    flex-basis: 30%;
    border-left:1px rgb(235, 235, 235) solid;
    border-right:1px rgb(235, 235, 235) solid;
    border-top:1px rgb(235, 235, 235) solid;
}

aside {
    flex-basis: 20%;
    margin-left:50px;
}

section div {
    border-bottom:1px rgb(235, 235, 235) solid;
    min-height: 100px;
    min-width: 99%;
    padding:0px 0px 0px 10px
}

[placeholder] {
    align-items:center;
}